
<div class="card text-center">
    <div class="card-header">
      <h2>User Event Booking</h2>
    </div>
   
    <div class="text-left h-50 w-50 mx-auto mt-5">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        
    <form>
        <div class="form-group m-5">
            <label>Name your event</label>
            <input type="text" class="form-control">
          </div>
        <div class="form-group m-5">
            <label for="exampleFormControlSelect1">Select Event Type</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Private</option>
              <option>Corporate</option>
              <option>Charity</option>
            </select>
          </div>
        <div class="form-group ml-5 mr-5 mb-5">
          <label for="exampleFormControlSelect1">Select Event Package</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Premium</option>
            <option>Basic</option>
            <option>Combo</option>
          </select>
        </div>

        <div class="form-group ml-5 mr-5 mb-5">
            <label>Select event date</label>
            <input type="date" class="form-control">
          </div>
          
        <div class="form-group m-4">
            <button class="btn-primary btn-md  p-2 btn-block" >Book</button>
          </div>
          
         
      </form>
      
    </div>
    </div>
    <!-- <div class = 'card-deck'>
    <div class="card-body">
    
      <div class="card" style="width:300px; height:100px">
        <p class="card-text mt-4">Book events</p>
      </div>
    </div>

    <div class="card-body">
       
        <div class="card" style="width:300px; height:100px">
          <p class="card-text mt-4">Book events</p>
        </div>
      </div>

      <div class="card-body">
        
        <div class="card" style="width:300px; height:100px">
          <p class="card-text mt-4">Book events</p>
        </div>
      </div>
    </div> -->
  </div>
