
<div class="text-center align-middle h-50 w-50 mx-auto mt-5">
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-body">
    <form class="d-flex flex-column">
       
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <label for="newPassword" class="sr-only">New Password</label>
        <input type="password" id="inputEmail" class="form-control" placeholder="New Password" required autofocus>
        <label for="inputConfirmPassword" class="sr-only mt-2">Confirm Password</label>
        <input type="password" id="inputPassword" class="form-control mt-2" placeholder="Confirm Password" required>
        
        <button class="btn btn-lg btn-primary btn-block mt-4">Reset</button>

      </form>
    </div>
    </div>
    </div>